*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .125s;
}

:root {
    --background-color: #FFF;
    --lighter-color: #F7F8F9;
    --primary-color: #B3B9C4;
    --secondary-color: #8590A2;
    --tertiary-color: #758195;
    --outline-color: #f1f1f1;
    --text-color: black;
}

[data-theme="dark"] {
    --background-color: #192A3C;
    --lighter-color: #223546;
    --primary-color: #245B47;
    --secondary-color: #224942;
    --tertiary-color: #0D3A32;
    --outline-color: #1f1f1f;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.divider {
    width: 98%;
    height: 1px;
    background-color: var(--outline-color);
    margin: 2rem auto;
    border-radius: 7px;
    border: 1px solid rgba(31, 31, 31, 0.1);
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
    gap: 2rem;
}

.hero-text-box {
    color: var(--text-color);
    padding: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    background-color: var(--lighter-color);
    height: auto;
    width: 100%;
}

.hero-greeting {
    font-size: 2rem;
    font-weight: bold;
}

.hero-text {
    margin-top: 1em;
}

.hero-img img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 999px;
    border: 2px solid var(--outline-color);
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
    border-bottom: 2px solid var(--outline-color);
}

.nav-links {
    position: absolute;
    right: 15rem;
    display: flex;
    gap: 1rem;
}

.nav-img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: absolute;
    right: 1rem;
    margin: 0 auto;
  }
  
  .theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .toggle-text {
    position: relative;
    top: -4px;
    right: 5px;
    color: var(--on-background);
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    background: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background: var(--primary-color);
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
  .fas {
    font-size: 30px;
    margin-right: 5px;
  }