*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --background-color: #192A3C;
    --lighter-color: #223546;
    --primary-color: #245B47;
    --secondary-color: #224942;
    --tertiary-color: #0D3A32;
    --outline-color: #1f1f1f;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
    gap: 2rem;
}

.hero-text-box {
    color: white;
    padding: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    background-color: var(--lighter-color);
    height: auto;
    width: 100%;
}

.hero-greeting {
    font-size: 2rem;
    font-weight: bold;
}

.hero-text {
    margin-top: 1em;
}

.hero-img img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 999px;
    border: 2px solid var(--outline-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
    border-bottom: 2px solid var(--outline-color);
}

.nav-links {
    position: absolute;
    right: 1rem;
    display: flex;
    gap: 1rem;
}

.nav-img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
